<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<h3>Sign up</h3>
	<form action="#" th:action="@{/signUp}" th:object="${userFormBean}" method="post" enctype="multipart/form-data">
    	<p>Name: <input type="text" th:field="*{name}" /></p>
        <p>Full Name: <input type="text" th:field="*{fullName}" /></p>
        <p>Display Pic: <input type="file" th:field="*{displayPic}" /></p>
        <p>DOB: <input type="date" th:field="*{dob}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>